# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
*.log
package-lock.json

templates/swift/Example/PROJECT.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Bundler
.bundle
.build/

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
Pods/
#Podfile.lock

# Fastlane Output
coverage
results
fastlane/report.xml
fastlane/test_output
fastlane/Gemfile.lock
fastlane/Payload
output

uploader.sh
build-metrics.json

# NPM Related files for auto plugins
node_modules

# fastlane README
fastlane/README.md

test-results/
build.json

# files related to Checkmarx Vulnerability Scan
Checkmarx/
